AWS_REGION=""
AWS_ENDPOINT_URL=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BUCKET="adampresleyphotography.com"
CLIENTS_PHOTO_FOLDER="clients"
COOKIE_SECRET="password"
DATABASE_DIR="./data"
DATA_MIGRATION_DIR="./sql-migrations"
DOWNLOAD_BASE_URL="http://localhost:8081"
DOWNLOAD_EXPIRATION_DAYS=14
DSN="file:./data/adampresleyphotography.db"
EMAIL_API_KEY=""
HOME_PAGE_PHOTO_FOLDER="home-page"
HOST="localhost:8081"
LOG_LEVEL="debug"
MAX_CACHE_WORKERS=2
