body>footer,
body>header {
   padding: 0 1rem;
}

a {
   cursor: pointer;
}

article.error {
   background-color: #ffebee;
   color: #b71c1c;
}

article.success {
   background-color: #e8f5e9;
   color: #1b5e20;
}

article.warning {
   background-color: #fff8e1;
   color: #ff6f00;
}

.top-header {
   -webkit-box-shadow: 0px 1px 10px 0px rgba(79, 79, 79, 1);
   -moz-box-shadow: 0px 1px 10px 0px rgba(79, 79, 79, 1);
   box-shadow: 0px 1px 10px 0px rgba(79, 79, 79, 1);

   h1 {
      margin-bottom: 0px;
   }

   img {
      height: 3.5rem;
   }
}

.container-fluid {
   margin-top: 0.8rem;
}

.group {
   display: flex;
   gap: 0.4rem;
}

#albumList {
   display: flex;
   gap: 1.75rem;
   flex-wrap: wrap;

   article {
      max-width: 375px;
   }
}

#photoList {
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;

   article {
      max-width: 50rem;

      a[data-fslightbox] {
         img {
            transition: transform 0.3s;
         }

         img:hover {
            transform: scale(1.05);
         }
      }
   }


}

.hero-image {
   /* Set a specific height */
   height: 50vh;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-text {
   text-align: center;
   color: white;

   h2 {
      font-size: 2.5rem;
      margin: 0;
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
   }
}

.gallery {
   column-count: 3;
   column-gap: 1rem;

   .frame {
      display: flex;
      flex-direction: column;
      break-inside: avoid-column;
      transition: transform 0.3s;

      .actions {
         display: flex;
         justify-content: right;

         a {
            width: auto;
            margin: 0;
            padding: 0;

            .icon {
               width: 1.3rem;
               height: 1.3rem;
            }
         }
      }

      a {
         display: inline-block;
         width: 100%;
         margin-bottom: 1rem;

         img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
         }
      }
   }

   div.frame:hover {
      transform: scale(1.05);
   }
}

@media (max-width: 768px) {
   .gallery {
      column-count: 2;
   }
}

@media (max-width: 480px) {
   .gallery {
      column-count: 1;
   }
}

.icon {
   display: inline-block;
   width: 1em;
   height: 1em;
   background-color: currentColor;
   -webkit-mask: no-repeat center / 100%;
   mask: no-repeat center / 100%;
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg)
}

.icon-download {
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 20h14v-2H5m14-9h-4V3H9v6H5l7 7z'/%3E%3C/svg%3E");
}

.icon-heart {
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
}

.icon-empty-heart {
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3'/%3E%3C/svg%3E");
}
