{{- define "layouts/clientlayout"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="color-scheme" content="light" />
   <title>{{template "title" .}} - Client Access</title>
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/pico.min.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/client-styles.css" />
   <link type="text/css" rel="stylesheet" media="screen" href="/static/css/spinner.min.css" />
   {{stylesheetIncludes "Stylesheets" .}}

   <script src="/static/js/htmx.min.js"></script>
</head>

<body>
   <header class="grid top-header">
      <nav>
         <ul>
            <li>
               <h1>
                  <a hx-get="/client" hx-push-url="true" hx-target="#mainContent">
                     Client Access
                  </a>
               </h1>
            </li>
         </ul>
         <ul>
            <li><a href="/client/logout">Log Out</a></li>
         </ul>
      </nav>
   </header>
   <!-- END NAV -->

   <main class="container-fluid" id="mainContent">
      {{template "content" .}}
   </main>

   <script type="text/javascript" src="/static/js/fslightbox.js"></script>
   {{javascriptIncludes "JavascriptIncludes" .}}
</body>

</html>
{{end}}
